{% extends "my_base.html" %}

{% block page_content %}

    {{super()}}

    <p><strong>Welcome!</strong></p>
    <p>If you are planning an AMA in one of the music-related subreddits, you are in the right place. If not, go to <a href="http://easyama.co">easyAMA.co</a> to use our general form.</p>

    <div class="divider"></div>

    <p><strong>What is easyAMA?</strong></p>
    <p>EasyAMA is a third party application that helps users create reddit AMAs that adhere to reddit conventions and rules. This application interfaces with reddit but has no affiliation with reddit inc.</p>

    <div class="divider"></div>

    <p><strong>Things You Should Know</strong></p>

    <ul>
        <li>Reddit is a community of people. Respect the community by adhering to their <a href="http://www.reddit.com/wiki/reddiquette" target="_blank">etiquette</a> and <a href="http://www.reddit.com/rules/" target="_blank">rules</a>.</li>
        <li>Be ready to answer tough questions from the reddit community.</li>
        <li>The success of a reddit AMA depends on many factors and is therefore unpredictable. Using easyAMA does not gaurantee any result.</li>
    </ul>
    
    <div class="divider"></div>

    <p><strong>Before Your AMA</strong></p>

    <p>If you have already been in communications with the moderators of the subreddit where your AMA will take place and have agreed upon a scheduled time, skip step #3. Note that the scheduled time is when the AMA should be posted, not when you begin answering questions. Also, when you promote the AMA on social media, be sure to include the time that the thread will be posted so fans can show up on time to ask questions.</p>
    
    <ol>
        <li>Create a reddit account. If you do not already have a reddit account, you can create one <a href="http://www.reddit.com/register" target="_blank">here</a>.</li>
        <li>Pick a date/time for your AMA and block off at least 2 hours on your schedule for your AMA. If you are planning to not answer questions until the AMA is populated with multiple questions, adjust your own schedule accordingly so you still have 2 full hours to answer questions.</li>
        <li>Message the moderators. Go to the subreddit where you will be holding your AMA and find the "message the moderators" link in the right sidebar. Send a message to the moderators to let them know when you plan on doing your AMA so they can put you on the schedule.</li>
    </ol>

    <div class="divider"></div>

    <div id="home-get-started">
        <h2>Ready to get started?</h2>
        <p>After you have read everything above, click the button below to get started.</p>
        <p><a class="btn btn-large btn-primary btn-shadow" href="{{ url_for('login') }}">Get Started</a></p>
    </div>

{% endblock %}
