<p class="highlight"><strong>Tip:</strong> Click on the question mark symbols (<img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" />) for additional information about a form field.</p>

<form method="post" class="form" role="form">
    
    {{ form.csrf_token }}

    <div class="form-group{% if form.subreddit.errors %} has-error{% endif %}">
        {{ form.subreddit.label(class="control-label") }}
        <span class="help-block">Choose a subreddit for your AMA. Do not prepend it with "/r/".</span>
        <div class="input-group">
            <span class="input-group-addon">/r/</span>
            {{ form.subreddit(class="form-control", tabindex="1" ) }}
        </div>
        {% if form.subreddit.errors %}
            <ul class="errors">{% for error in form.subreddit.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.title.errors %} has-error{% endif %}">
        {{ form.title.label(class="control-label") }} &nbsp;<a href="#" data-toggle="modal" data-target="#helpTitle"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a>
        <span class="help-block">Tell us who you are in the title (e.g. "Hi, I'm artist name. Ask me anything!"). Feel free to be more descriptive about who you are and your accomplishments. "[AMA]" is added to the beginning of your title automatically.</span>
        <div class="input-group">
            <span class="input-group-addon">[AMA]</span>
            {{ form.title(class="form-control", tabindex="2") }}
        </div>
        {% if form.title.errors %}
            <ul class="errors">{% for error in form.title.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.body.errors %} has-error{% endif %}">
        {{ form.body.label(class="control-label") }} &nbsp;<a href="#" data-toggle="modal" data-target="#helpBody"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a>
        <span class="help-block">The body of your AMA is where you get to tell the audience more about yourself, why you are doing the AMA, and what you are promoting. Use <a href="http://www.reddit.com/wiki/commenting#wiki_posting" target="_blank">reddit markdown</a> to format your post.</span>
        {{ form.body(class="form-control", tabindex="3") }}
        {% if form.body.errors %}
            <ul class="errors">{% for error in form.body.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <div class="form-group">
        <label class="control-label">Social Media/Websites</label>
        <span class="help-block">Include links to your social media accounts and websites below. These fields are optional. Any links you provide will be included at the bottom of your AMA. All links must begin with "http://" or "https://" to ensure the correct formatting.</span>
        <div class="row">
            <div class="col-sm-6 input-row{% if form.link_facebook.errors %} has-error{% endif %}">
                {{ form.link_facebook.label(class="control-label") }}
                {{ form.link_facebook(class="form-control", placeholder="https://facebook.com", tabindex="4") }}
                {% if form.link_facebook.errors %}
                <ul class="errors">{% for error in form.link_facebook.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
            <div class="col-sm-6 input-row{% if form.link_twitter.errors %} has-error{% endif %}">
                {{ form.link_twitter.label(class="control-label") }}
                {{ form.link_twitter(class="form-control", placeholder="https://twitter.com", tabindex="5") }}
                {% if form.link_twitter.errors %}
                <ul class="errors">{% for error in form.link_twitter.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 input-row{% if form.link_youtube.errors %} has-error{% endif %}">
                {{ form.link_youtube.label(class="control-label") }}
                {{ form.link_youtube(class="form-control", placeholder="https://youtube.com", tabindex="6") }}
                {% if form.link_youtube.errors %}
                <ul class="errors">{% for error in form.link_youtube.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
            <div class="col-sm-6 input-row{% if form.link_soundcloud.errors %} has-error{% endif %}">
                {{ form.link_soundcloud.label(class="control-label") }}
                {{ form.link_soundcloud(class="form-control", placeholder="https://soundcloud.com", tabindex="7") }}
                {% if form.link_soundcloud.errors %}
                <ul class="errors">{% for error in form.link_soundcloud.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 input-row{% if form.link_bandcamp.errors %} has-error{% endif %}">
                {{ form.link_bandcamp.label(class="control-label") }}
                {{ form.link_bandcamp(class="form-control", placeholder="https://bandcamp.com", tabindex="8") }}
                {% if form.link_bandcamp.errors %}
                <ul class="errors">{% for error in form.link_bandcamp.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
            <div class="col-sm-6 input-row{% if form.link_website.errors %} has-error{% endif %}">
                {{ form.link_website.label(class="control-label") }}
                {{ form.link_website(class="form-control", placeholder="https://yourwebsite.com", tabindex="9") }}
                {% if form.link_website.errors %}
                <ul class="errors">{% for error in form.link_website.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 input-row{% if form.link_label_website.errors %} has-error{% endif %}">
                {{ form.link_label_website.label(class="control-label") }}
                {{ form.link_label_website(class="form-control", placeholder="https://labelswebsite.com", tabindex="10") }}
                {% if form.link_label_website.errors %}
                <ul class="errors">{% for error in form.link_label_website.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="form-group{% if form.verification.errors %} has-error{% endif %}">
        {{ form.verification.label(class="control-label") }} &nbsp;<a href="#" data-toggle="modal" data-target="#helpVerification"><img src="http://groupsrc.com/easyama/icon_question.png" alt="Need help?" /></a>
        <span class="help-block">Include a verification link in the box below to prove your identity. Enter the full URL to your verification in the field below.</span>
        {{ form.verification(class="form-control", placeholder="Must start with http:// or https://", tabindex="11") }}
        {% if form.verification.errors %}
            <ul class="errors">{% for error in form.verification.errors %}<li class="text-danger">{{ error }}</li>{% endfor %}</ul>
        {% endif %}
    </div>

    <div class="divider"></div>

    <input class="btn btn-primary btn-lg" id="submit" name="submit" tabindex="12" type="submit" value="Preview">

</form>

<div class="modal fade" id="helpTitle" tabindex="-1" role="dialog" aria-labelledby="helpTitleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Writing a great title</h4>
      </div>
      <div class="modal-body">
          <p>The title of your AMA should grab redditors' attention and briefly describe who you are.</p>
          <p><strong>IMPORTANT:</strong></p>
          <ul>
              <li>You cannot edit the title after you submit your AMA. Proofread it multiple times before submitting.</li>
              <li>Briefly explain who you are in the title (e.g. "I am John Doe. AMA." is a bad title).</li>
              <li>Include "Ask me anything!" at the end of your title. If multiple band members are participating in the AMA, include "Ask us anything!" at the end.</li>
              <li>If you have a new release, tour, or other announcement, consider referencing that in the title of your post.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpBody" tabindex="-1" role="dialog" aria-labelledby="helpBodyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Writing a great body</h4>
      </div>
      <div class="modal-body">
          <p>The body will be shown to redditors after they click on your AMA. Use the body of your AMA to elaborate on who you are, what you have accomplished, and why you are doing the AMA. You can use the body of your AMA to guide questions towards a specific topic, but remember that no topic is off-limits.</p>
          <p><strong>IMPORTANT:</strong></p>
          <ul>
              <li>You can edit the body of your AMA any time after it is submitted, but only make minor corrections. If you want to add something substantial, place it at the end and label it with the word "Edit" in bold.</li>
              <li>Do not include any type of shortened URL when you make the initial post or edit in subsequent changes. Reddit's site-wide filter will automatically remove your post if you do.</li>
              <li>Express gratitude. Thank the community for allowing you to spend time with them.</li>
              <li>Format the body of your AMA using <a href="http://www.reddit.com/wiki/commenting#wiki_posting" target="_blank">reddit markdown</a>. Breaking your copy into paragraphs is a must, but also consider using bold text and hyperlinks.</li>
              <li>Do not include links to the home pages for your social media accounts in this box - those are addressed in the Social Media/Websites section below. If you are linking to merchandise in your online store, please accompany it with a reddit-specific discount code (e.g. enter the code "reddit" for 33% off). Consider offering download links to new releases for free (or pay what you want) or at a reduced rate for a 24-hour period - this is not required but encouraged.</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="helpVerification" tabindex="-1" role="dialog" aria-labelledby="helpVerificationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Creating a verification link</h4>
      </div>
      <div class="modal-body">
          <p>Verifying your AMA is required. It proves to the community that you are who you say you are.</p>
          <p><strong>Options for verifying your AMA:</strong></p>
          <ul>
              <li>Make a post on your official website or favorite social media account announcing the AMA. The post should include your reddit username and the subreddit you have chosen for your AMA (e.g. "I'm doing a reddit AMA on Tuesday in /r/IAmA. My reddit username is /u/reddit_username.").</li>
              <li>Take a picture of yourself holding up a sign that says "Hi reddit" and includes your reddit username. Upload it to <a href="http://imgur.com" target="_blank">imgur</a> to create a verification link you can share with reddit.</li>
              <li>Some moderators will verify you before your AMA and tag your AMA as "verified". In this case, it is still good to create a verification link using one of the methods above and to announce the AMA across your social media pages so that fans are aware of the event. If the AMA has been scheduled in advance, you should promote it via social media beforehand as well.</li>
      </div>
    </div>
  </div>
</div>
